@mixin xtra-small-screen(){
    @media only screen and (max-width: 360px)
    {
        @content;
    }
}

@mixin small-screen(){
    @media only screen and (max-width: 480px)
    {
        @content;
    }
}

@mixin medium-screen(){
    @media only screen and (max-width: 680px)
    {
        @content;
    }
}

@mixin large-screen(){
    @media only screen and (max-width: 960px)
    {
        @content;
    }
}

@mixin warning{
    background:orange;
    color: #fff;
}

@mixin large-text{
    font: {
        size: 22px;
        weight: bold;
    }
}

@mixin rounded($radius: 6px){
    border: {
        radius: $radius;
    }
}

@mixin box($radius: 6px, $border: 1px solid #000){
    @include rounded($radius);
    border: $border;
}

@mixin apply-to-ie-6{
    *html {
        @content;
    }
}

@mixin google-font($font){
    $font: unquote($font);
    @import url(https://fonsts.googleapis.com/css?family=#{$font})
}